<!doctype html>
<html lang="en">

<head>
  <title>exo-skeleton</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="favicon.png" rel="icon" type="image/x-icon"/>
  <link rel="shortcut icon" sizes="120x120" href="app/assets/imgs/120x120.png"/>
  <link rel="shortcut icon" sizes="120x120" href="app/assets/imgs/200x200.png"/>

  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="mobile-web-app-capable" content="yes"/>

  <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
  <link rel="apple-touch-icon" href="app/assets/imgs/120x120.png"/>

  <meta name="description" content="project scaffolding"/>
  <meta name="keywords" content=""/>
  <meta name="author" content="posit labs"/>
  <meta name="copyright" content="&copy;2013"/>

  <meta property="og:url" content="http://github.com/positlabs/exo-skeleton">
  <meta property="og:title" content="exo-skeleton">
  <meta property="og:image" content="http://github.com/positlabs/exo-skeleton/someimage.jpg">
  <meta property="og:image:type" content="image/png">
  <meta property="og:description" content="">

  <meta property="twitter:title" content="exo-skeleton">
  <meta property="twitter:image" content="http://github.com/positlabs/exo-skeleton/someimage.jpg">
  <meta property="twitter:description" content="exo-skeleton can support up to 25 times its own weight!">

  <title>Passion Genome</title>

  <!--(if target dev)><!-->
  <link rel="stylesheet" href="styles/master.css">
  <script>
    var env = "dev";
  </script>
  <!--<script type="text/javascript" src="vendor/jam/jquery/dist/jquery.js"></script>-->
  <!--<!(endif)-->

  <!--(if target debug)>
    <link rel="stylesheet" href="index.css">
    <script>
      var env = "debug";
    </script>
  <!(endif)-->
  <!--(if target release)>
    <link rel="stylesheet" href="index.css">
    <script>
      var env = "release";
    </script>
  <!(endif)-->


</head>

<body class="fill font-light-cnd">
<div id="fb-root"></div>

<!-- Application container. -->
<main role="main" id="main">
  <div style="display:none;" class='message-holder'>
    <h1>Error: This site requires javascript and a modern browser.</h1>
    <ul>
      <li><a href="http://www.google.com/chrome">Download Chrome</a> (Windows, Mac, Linux, iOS, Android)</li>
      <li><a href="http://getfirefox.com">Download Firefox (Windows, Mac, Linux, iOS, Android)</a></li>
      <li><a href="http://ie.microsoft.com/testdrive/Info/Downloads/Default.html">Download Internet Explorer 10</a>
        (Windows)
      </li>
    </ul>
  </div>
</main>
<footer id="footer"></footer>
<!-- Application source. -->

<!--(if target dev)><!-->
<script data-main="js/master" src="js/bower/requirejs/require.js"></script>
<!--<!(endif)-->

<!--(if target debug)>
<script src="source.js"></script>
<!(endif)-->
<!--(if target release)>
<script src="source.js"></script>
<!(endif)-->

</body>

</html>
